@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

#league-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}

#league-form button {
  align-self: center;
  margin-top: 1rem;
}

form {
  margin-bottom: 20px;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th,
td {
  border: 1px solid #000;
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: bold;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:not(:first-child):last-child {
  color: red;
}

.buttons {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.round-button {
  background-color: #4285f4;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.round-button:hover {
  background-color: #2b66d6;
}

.buttons-container {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 2rem;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
